body {
    background-color: #f0f2f5;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 5px;
}

.btn-sm {
    margin-left: 5px;
}